/* src/App.css */
.App {
  text-align: center;
  padding: 5rem 10rem;
}

.board-container {
  display: inline-block;
  margin-right: 20px;
  background-color: #f0d9b5;
}

.board-row {
  display: flex;
}

.square {
  width: 30px;
  height: 30px;
  background-color: #f0d9b5;
  font-weight: bold;
  cursor: pointer;
  margin: 0;
  overflow: visible;
  position: relative;
  border-radius: 100%;
}


.square.plus::before, .square.plus::after {
  content: "";
  position: absolute;
  background-color: #000;
}

.square.plus::before {
  top: 50%;
  left: 0;
  right: 0;
  height: 1px;
}

.square.plus::after {
  top: 0;
  bottom: 0;
  left: 50%;
  width: 1px;
}

.square:hover {
  background-color: #ddd;
}

.game-container {
  display: flex;
}

.game-info {
  display: inline-block;
  text-align: left;
}

button {
  margin: 5px;
  padding: 10px;
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}
